<div class="row h-25">
  <div class="card w-100">
    <div class="card-body">
      <h4 class="card-title">Swarm</h4>
      <table class="control w-100">
        <tbody>
          <tr>
            <td>
              <button class="btn btn-info btn-block" 
              (click)="formLine()"
              [disabled]="!drones || !drones.length || _commands.selectedOperation">
                Line</button>
            </td>
            <td>
              <button class="btn btn-info btn-block" 
              (click)="formColumn()"
              [disabled]="!drones || !drones.length || _commands.selectedOperation">
                Column</button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-info btn-block" 
              (click)="formCircle()"
              [disabled]="!drones || !drones.length || _commands.selectedOperation">
                Surround</button>
            </td>
            <td>
              <button class="btn btn-info btn-block" 
              (click)="sweep()"
              [disabled]="!drones || !drones.length || _commands.selectedOperation">
                Sweep</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row h-75 drones">
  <div class="card w-100 mt-3">
    <div class="card-body overflow-auto">
      <h4 class="card-title">Drones</h4>
      <table class="control">
        <tbody>
          <tr *ngFor= "let drone of drones">
            <td>{{drone.id}}</td>
            <td>
              <table style="width: 80%;">
                <tbody class="small">
                  <tr>
                    <td><fa [name]="batteryIcon(drone.battery)"></fa></td>
                    <td><small class="text-muted">Battery:</small></td>
                    <td align="right">
                      <small *ngIf="drone.battery; else unknown" class="text-muted">{{drone.battery | number: '1.3-3'}}%</small>
                    </td>
                  </tr>
                  <tr>
                    <td><fa name="map-marker"></fa></td>
                    <td><small class="text-muted">Position:</small></td>
                    <td align="right">
                      <small class="text-muted" *ngIf="drone.position; else unknown">
                        {{'(' + (drone.position.x | number: '1.4-4' ) + ',' + (drone.position.y | number: '1.4-4' ) + ')'}}
                      </small>
                    </td>
                  </tr>
                  <tr>
                    <td><fa name="refresh"></fa></td>
                    <td><small class="text-muted">Rotation:</small></td>
                    <td align="right">
                      <small class="text-muted" *ngIf="drone.rotation; else unknown">
                          {{'(' + (drone.rotation.roll | number: '1.3-3') + ',' + (drone.rotation.pitch | number: '1.3-3') + ',' + (drone.rotation.yaw | number: '1.3-3') + ')'}}
                      </small>
                    </td>
                  </tr>
                  <tr>
                    <td><fa name="fighter-jet"></fa></td>
                    <td><small class="text-muted">Rotors:</small></td>
                    <td align="right">
                      <ng-container *ngIf="drone.rotor; else unknown">
                          <fa
                          *ngFor="let rotor of drone.rotor"
                          name="circle"
                          style="padding-right: 2%;"
                          [ngStyle]="{'color': rotor.state ? 'green' : 'orange' }"
                        ></fa>
                      </ng-container>
                    </td>
                  </tr>
                </tbody>
              </table>
              <ng-template #unknown>
                  <small class="text-muted">NA</small>
              </ng-template>
            </td>
            <td>
              <button class="btn btn-info" (click)="goTo(drone.id)" [disabled]="_commands.selectedOperation">GOTO</button>

            </td>
          </tr>
          <tr *ngIf="!drones || !drones.length" style="border: 0;">
            <td class="text-muted text-center"> No drones available</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>