<div class="row h-25">
  <div class="card w-100">
    <div class="card-body">
      <h4 class="card-title">Hive</h4>
      <table class="control w-100">
        <tbody>
          <tr>
            <td><button class="btn btn-info btn-block">Form line</button></td>
            <td><button class="btn btn-info btn-block">Form column</button></td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-info btn-block">Surround target</button>
            </td>
            <td><button class="btn btn-info btn-block">Sweep</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row h-75 drones">
  <div class="card w-100 mt-3">
    <div class="card-body overflow-auto">
      <h4 class="card-title">Drones</h4>
      <table class="control">
        <tbody>
          <tr *ngFor= "let drone of drones">
            <td>{{drone.id}}</td>
            <td>
              <table style="width: 80%;">
                <tbody class="small">
                  <tr>
                    <td><fa [name]="batteryIcon(drone.battery)"></fa></td>
                    <td><small class="text-muted">Battery:</small></td>
                    <td align="right">
                      <small *ngIf="drone.battery; else unknown" class="text-muted">{{drone.battery}}%</small>
                    </td>
                  </tr>
                  <tr>
                    <td><fa name="map-marker"></fa></td>
                    <td><small class="text-muted">Position:</small></td>
                    <td align="right">
                      <small class="text-muted" *ngIf="drone.position; else unknown">
                        {{'(' + drone.position.x + ',' + drone.position.y + ')'}}
                      </small>
                    </td>
                  </tr>
                  <tr>
                    <td><fa name="refresh"></fa></td>
                    <td><small class="text-muted">Rotation:</small></td>
                    <td align="right">
                      <small class="text-muted" *ngIf="drone.rotation; else unknown">
                          {{'(' + drone.rotation.roll + ',' + drone.rotation.pitch + ',' + drone.rotation.yaw + ')'}}
                      </small>
                    </td>
                  </tr>
                  <tr>
                    <td><fa name="fighter-jet"></fa></td>
                    <td><small class="text-muted">Rotors:</small></td>
                    <td align="right">
                      <ng-container *ngIf="drone.rotor; else unknown">
                          <fa
                          *ngFor="let rotor of drone.rotor"
                          name="circle"
                          style="padding-right: 2%;"
                          [ngStyle]="{'color': rotor.state ? 'green' : 'orange' }"
                        ></fa>
                      </ng-container>
                    </td>
                  </tr>
                </tbody>
              </table>
              <ng-template #unknown>
                  <small class="text-muted">NA</small>
              </ng-template>
            </td>
            <td>
              <button class="btn btn-info" (click)="prueba()">Redirect</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
