<div class="row h-25">
  <div class="card w-100">
    <div class="card-body">
      <h4 class="card-title">Hive</h4>
      <table class="control w-100">
        <tbody>
          <tr>
            <td><button class="btn btn-info btn-block">Form line</button></td>
            <td><button class="btn btn-info btn-block">Form column</button></td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-info btn-block">Surround target</button>
            </td>
            <td><button class="btn btn-info btn-block">Sweep</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row h-75 drones">
  <div class="card w-100 mt-3">
    <div class="card-body overflow-auto">
      <h4 class="card-title">Drones</h4>
      <table class="control">
        <tbody>
          <tr>
            <td>Drone 1</td>
            <td>
              <table style="width: 80%;">
                <tbody class="small">
                  <tr>
                    <td><fa name="battery-three-quarters"></fa></td>
                    <td><small class="text-muted">Battery:</small></td>
                    <td align="right"><small class="text-muted">59%</small></td>
                  </tr>
                  <tr>
                    <td><fa name="map-marker"></fa></td>
                    <td><small class="text-muted">Position:</small></td>
                    <td align="right">
                      <small class="text-muted">( 112, 224 )</small>
                    </td>
                  </tr>
                  <tr>
                    <td><fa name="refresh"></fa></td>
                    <td><small class="text-muted">Rotation:</small></td>
                    <td align="right">
                      <small class="text-muted">(20, 10, 10)</small>
                    </td>
                  </tr>
                  <tr>
                    <td><fa name="fighter-jet"></fa></td>
                    <td><small class="text-muted">Rotors:</small></td>
                    <td align="right">
                      <fa
                        name="circle"
                        style="color: green; padding-right: 2%;"
                      ></fa>
                      <fa
                        name="circle"
                        style="color: green; padding-right: 2%;"
                      ></fa>
                      <fa
                        name="circle"
                        style="color: green; padding-right: 2%;"
                      ></fa>
                      <fa
                        name="circle"
                        style="color: green; padding-right: 2%;"
                      ></fa>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <button class="btn btn-info">Redirect</button>
            </td>
          </tr>
          <tr>
            <td>Drone 1</td>
            <td>
              <table style="width: 80%;">
                <tbody class="small">
                  <tr>
                    <td><fa name="battery-empty"></fa></td>
                    <td><small class="text-muted">Battery:</small></td>
                    <td align="right"><small class="text-muted">1%</small></td>
                  </tr>
                  <tr>
                    <td><fa name="map-marker"></fa></td>
                    <td><small class="text-muted">Position:</small></td>
                    <td align="right">
                      <small class="text-muted">( 112, 224 )</small>
                    </td>
                  </tr>
                  <tr>
                    <td><fa name="refresh"></fa></td>
                    <td><small class="text-muted">Rotation:</small></td>
                    <td align="right">
                      <small class="text-muted">(20, 10, 10)</small>
                    </td>
                  </tr>
                  <tr>
                    <td><fa name="fighter-jet"></fa></td>
                    <td><small class="text-muted">Rotors:</small></td>
                    <td align="right">
                      <fa
                        name="circle"
                        style="color: red; padding-right: 2%;"
                      ></fa>
                      <fa
                        name="circle"
                        style="color: red; padding-right: 2%;"
                      ></fa>
                      <fa
                        name="circle"
                        style="color: red; padding-right: 2%;"
                      ></fa>
                      <fa
                        name="circle"
                        style="color: red; padding-right: 2%;"
                      ></fa>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <button class="btn btn-info">Redirect</button>
            </td>
          </tr>
          <tr>
            <td>Drone 1</td>
            <td>
              <table style="width: 80%;">
                <tbody class="small">
                  <tr>
                    <td><fa name="battery-full"></fa></td>
                    <td><small class="text-muted">Battery:</small></td>
                    <td align="right">
                      <small class="text-muted">100%</small>
                    </td>
                  </tr>
                  <tr>
                    <td><fa name="map-marker"></fa></td>
                    <td><small class="text-muted">Position:</small></td>
                    <td align="right">
                      <small class="text-muted">( 112, 224 )</small>
                    </td>
                  </tr>
                  <tr>
                    <td><fa name="refresh"></fa></td>
                    <td><small class="text-muted">Rotation:</small></td>
                    <td align="right">
                      <small class="text-muted">(20, 10, 10)</small>
                    </td>
                  </tr>
                  <tr>
                    <td><fa name="fighter-jet"></fa></td>
                    <td><small class="text-muted">Rotors:</small></td>
                    <td align="right">
                      <fa
                        name="circle"
                        style="color: green; padding-right: 2%;"
                      ></fa>
                      <fa
                        name="circle"
                        style="color: green; padding-right: 2%;"
                      ></fa>
                      <fa
                        name="circle"
                        style="color: green; padding-right: 2%;"
                      ></fa>
                      <fa
                        name="circle"
                        style="color: green; padding-right: 2%;"
                      ></fa>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <button class="btn btn-info">Redirect</button>
            </td>
          </tr>
          <tr>
            <td>Drone 1</td>
            <td>
              <table style="width: 80%;">
                <tbody class="small">
                  <tr>
                    <td><fa name="battery-quarter"></fa></td>
                    <td><small class="text-muted">Battery:</small></td>
                    <td align="right"><small class="text-muted">19%</small></td>
                  </tr>
                  <tr>
                    <td><fa name="map-marker"></fa></td>
                    <td><small class="text-muted">Position:</small></td>
                    <td align="right">
                      <small class="text-muted">( 112, 224 )</small>
                    </td>
                  </tr>
                  <tr>
                    <td><fa name="refresh"></fa></td>
                    <td><small class="text-muted">Rotation:</small></td>
                    <td align="right">
                      <small class="text-muted">(20, 10, 10)</small>
                    </td>
                  </tr>
                  <tr>
                    <td><fa name="fighter-jet"></fa></td>
                    <td><small class="text-muted">Rotors:</small></td>
                    <td align="right">
                      <fa
                        name="circle"
                        style="color: green; padding-right: 2%;"
                      ></fa>
                      <fa
                        name="circle"
                        style="color: green; padding-right: 2%;"
                      ></fa>
                      <fa
                        name="circle"
                        style="color: green; padding-right: 2%;"
                      ></fa>
                      <fa
                        name="circle"
                        style="color: gold; padding-right: 2%;"
                      ></fa>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <button class="btn btn-info">Redirect</button>
            </td>
          </tr>
          <tr>
            <td>Drone 1</td>
            <td>
              <table style="width: 80%;">
                <tbody class="small">
                  <tr>
                    <td><fa name="battery-three-quarters"></fa></td>
                    <td><small class="text-muted">Battery:</small></td>
                    <td align="right"><small class="text-muted">59%</small></td>
                  </tr>
                  <tr>
                    <td><fa name="map-marker"></fa></td>
                    <td><small class="text-muted">Position:</small></td>
                    <td align="right">
                      <small class="text-muted">( 112, 224 )</small>
                    </td>
                  </tr>
                  <tr>
                    <td><fa name="refresh"></fa></td>
                    <td><small class="text-muted">Rotation:</small></td>
                    <td align="right">
                      <small class="text-muted">(20, 10, 10)</small>
                    </td>
                  </tr>
                  <tr>
                    <td><fa name="fighter-jet"></fa></td>
                    <td><small class="text-muted">Rotors:</small></td>
                    <td align="right">
                      <fa
                        name="circle"
                        style="color: green; padding-right: 2%;"
                      ></fa>
                      <fa
                        name="circle"
                        style="color: green; padding-right: 2%;"
                      ></fa>
                      <fa
                        name="circle"
                        style="color: green; padding-right: 2%;"
                      ></fa>
                      <fa
                        name="circle"
                        style="color: gold; padding-right: 2%;"
                      ></fa>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <button class="btn btn-info">Redirect</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
