<div class="container-fluid content-row p-4 h-100">
  <div class="row pt-2 pb-2 title">
    <h1 class="display-4">MQTT Drone Application</h1>
    <hr>
  </div>
  <div class="row application-content">
    <!-- MAP -->
    
    <div class="col-md-9">
      <div class="card p-0 d-flex align-items-stretch h-100">
        <app-map class="h-100"></app-map>
      </div>
    </div>
    

    <div class="col-md-3 h-100"> <!-- BUTTONS-->
          <app-pannel class="h-100" [drones]="drones"></app-pannel>
    </div>
  </div>
</div>