<div class="container-fluid content-row p-4 h-100">
  <div class="row pt-2 pb-2 title">
    <h1 class="display-4" style="position: absolute; top: 0;">MQTT Drone Application</h1>
    <hr>
  </div>

  <ngx-growl></ngx-growl>

  <div class="row application-content pb-2">
    <!-- MAP -->
    <div class="col-md-9">
      <div class="card p-0 d-flex align-items-stretch h-100">
        <app-map class="h-100" [markers]="markers"></app-map>
      </div>
    </div>
    
    <div class="col-md-3 h-100"> <!-- BUTTONS-->
          <app-pannel class="h-100" [drones]="drones"></app-pannel>
    </div>
  </div>

  <div class="row help"  style="height: 9%" *ngIf="_commands.selectedOperation">
      <div class="col-md-9 h-100">
        <div class="alert alert-primary m-0 h-75" role="alert">
          Click on a position on the map.
        </div>          
      </div>
  
      <div class="col-md-3 p-0 h-100" role="alert">
          <button class="btn btn-danger btn-block" 
          (click)="_commands.selectedOperation = null"> 
            Cancel Operation
          </button>
      </div>
    </div>
</div>